body{
    margin: 0px;
    background-image: url('img/landscape-4346633_1920.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    min-height: 600px;
}
.navbar{
    margin: 50px;
    padding: 70px;
    
}
.nav-item{
    margin: 30px;
    
}
 li a {
  color:blue;
  font-size: large;
}


